package {{.PackageName}}

type pagination struct {
	LastID *int64
	Order  Order
	Limit  *uint64
}

type Order int

const (
	OrderAscending = iota + 1
	OrderDescending
)

type PaginationOption func(*pagination)

// WithLastIDAndOrder sets the last id and order for cursor-based pagination.
// This option always overrides the order option to avoid unexpected behavior in pagination.
func WithLastIDAndOrder(lastID int64, order Order) PaginationOption {
	return func(opt *pagination) {
		opt.LastID = &lastID
		opt.Order = order
	}
}

// WithOrder sets the order of the results. If this option and WithLastIDAndOrder set an order at the same time, this option is ignored.
func WithOrder(order Order) PaginationOption {
	return func(opt *pagination) {
		if opt.LastID != nil {
			return
		}
		opt.Order = order
	}
}

// WithLimit sets the limit of the results.
func WithLimit(limit uint64) PaginationOption {
	return func(opt *pagination) {
		opt.Limit = &limit
	}
}
