package {{.PackageName}}

import (
	"errors"
	"fmt"
	"time"

	"google.golang.org/genproto/googleapis/type/date"
)

var (
	ErrIncompleteDate = errors.New("incomplete date: year, month, day must be greater than 0")
)

func mysqlStringToDatePtr(x string) (*date.Date, error) {
	t, err := time.Parse(time.RFC3339, x)
	if err != nil {
		return nil, err
	}

	return &date.Date{
		Year:  int32(t.Year()),
		Month: int32(t.Month()),
		Day:   int32(t.Day()),
	}, nil
}

func datePtrToMysqlString(x *date.Date) (string, error) {
	if x == nil {
		return "", nil
	}

	year := x.Year
	month := x.Month
	day := x.Day
	if year == 0 || month == 0 || day == 0 {
		return "", ErrIncompleteDate
	}

	return fmt.Sprintf("%04d-%02d-%02d", year, month, day), nil
}
